@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');

.container {
    padding-top: 20px;
}

.calculator-container {
    background-color: rgb(58, 75, 119);
    height: 600px;
    width: 475px;
    border-radius: 10px;
    box-shadow: inset black;
    padding-top: 37.5px;
}

.calculator-display {
    margin: 0 auto;
    border-radius: 10px;
    height: 80px;
    width: 400px;
    background-color: rgb(189, 238, 189);
    font-size: 50px;
    text-align: right;
    padding-top: 1px;
    font-family: "Orbitron", sans-serif;
    font-size: 4em;
    align-items: center;
}

.button-container {
    padding-top: 35px;
    margin: 0 auto;
}

.btn { 
    background-color: rgb(190, 197, 241);
    color: white;
    font-family: 'Comfortaa', cursive;
    align-items: center;
    border-radius: 20px;
    width: 85px;
    height: 70px;
    font-size: 50px;
    padding-left: 1px;
    padding-right: 1px;

}

.row {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 12px;
}




