
.display-1{
    width:max-content;
    color: rgb(239, 168, 37); 
    font-size: 200px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 5px 9px #1506ec;
}

.display-3 {
    align-self: right;
}

#add-button:hover {
    background-color: rgb(239, 168, 37);
}

#add-button {
    right: 100px;
    font-size: 20px;
}

.navbar {
    color: white;
    font-size: 34px;
    background-color: #5429b7;
    letter-spacing: 3px;
    font-family: 'Bebas Neue', cursive;
    justify-content: space-between;
}

span.navbar-text{
    color: white;
    font-size: 80px;
    justify-content: left;
}

.navbar-brand {
    color: white;
}

button.btn.btn-outline-success:hover {
    background-color: rgb(239, 168, 37);
}

button.btn.btn-outline-success {
    color: white;
    font-size: 20px;
    border-color: coral;
    outline-color: rgb(239, 168, 37);
}

.modal-title {
    color: #5429b7;
    font-family: 'Bebas Neue', cursive;
}

#deleteModal {
    font-size: 30px;
}


.modal-dialog{
    color: #5429b7;
    font-size:18px;
    font-family: 'Bebas Neue', cursive;
}


div.card {
    border-color: black;
    border-radius: 10px;
}

.card-title {
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.col-md-3 {
    border-color: none;
}

.card-text {
    
    font-size: 15px;
}

.row {
    margin-top: 20px;
    margin-bottom: 10px;
}

div {
    outline: black;
}

button#add-button.btn.btn-primary {
    color: white;
    font-size: 25px;
    
}

button.btn.btn-primary {
    color: white;
    font-size: 16px;
    letter-spacing: 3px;
    outline: black ;
    background-color: #5429b7;
    font-family: 'Bebas Neue', cursive;
}
  