body {
    background-color:bisque;
    font-family: "Helvetica", sans-serif;
}

h1 {
    font-style: italic;
}

th {
    background-color:#556b2f;
    color: whitesmoke;
}

th, td {
    border: 1px groove black;
}

#btn:hover {
    background-position: right center;
}

#btn {
    margin-top: 10px;
    color: whitesmoke;
    border-radius: 40%;
    font-family: "Helvetice Neue";
    font-weight: 800;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 0 0 20px #eee;
    background-image: linear-gradient(to right, #556b2f 0%, #8cab8e 51%, #556b2f 90%);
}

