@media (min-width: 320) {
    body {
        background-color: red;
    }
}

@media (min-width: 480) {
    body {
        background-color: blue;
    }
}

@media (min-width: 600) {
    body {
        background-color: purple;
    }
}

@media (min-width: 801) {
    body {
        background-color: yellow;
    }
}

@media (min-width: 1025) {
    body {
        background-color: green;
    }
}

@media (min-width: 1281) {
    body {
        background-color: orange;
    }
}